$color-light-gray: #9da5b4;
$color-dark-grey: #1a1f25;
$color-gray: #21252b;
$color-pink: #fd4345;
$bright-green: #0DFF92;
$green: #96B61D;
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: rgba(34, 115, 179, 1);
